<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key><string>KinoStream</string>
	<key>CFBundleName</key><string>KinoStream</string>
	<key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key><string>ru.nailultyev.kinostream</string>
	<key>CFBundlePackageType</key><string>APPL</string>
	<key>CFBundleVersion</key><string>5</string>
	<key>CFBundleShortVersionString</key><string>0.2.0</string>
	<key>LSMinimumSystemVersion</key><string>14.0</string>
	<key>NSPrincipalClass</key><string>NSApplication</string>
	<key>CFBundleURLTypes</key>
	<array><dict>
		<key>CFBundleTypeRole</key><string>Editor</string>
		<key>CFBundleURLName</key><string>ru.nailultyev.kinostream.auth</string>
		<key>CFBundleURLSchemes</key><array><string>ru.nailultyev.kinostream</string></array>
	</dict></array>
	<key>NSHighResolutionCapable</key><true/>
	<key>NSAppTransportSecurity</key>
	<dict><key>NSAllowsArbitraryLoads</key><true/></dict>
</dict>
</plist>
